연관규칙

1. 지지도

2. 신뢰도

3. 향상도

규칙생성 알고리즘 (apriorii)

<h2> 장바구니 분석 <h2>

In [2]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [5]:
# 데이터 생성
ds_asso = [["소주","콜라","맥주"],["소주","콜라","와인"],["소주","주스"],["콜라","맥주"],["소주","콜라","맥주","와인"],["주스"]]
ds_asso

[['소주', '콜라', '맥주'],
 ['소주', '콜라', '와인'],
 ['소주', '주스'],
 ['콜라', '맥주'],
 ['소주', '콜라', '맥주', '와인'],
 ['주스']]

In [6]:
# items 중 index 0번이 갖고 있으면 True, 아니면 False
enc = TransactionEncoder()
arr = enc.fit_transform(X=ds_asso)
# 위의 함수는 데이터를 행렬의 형태로 반환 -> pandas의 DataFrame의 형태로 변환
df_pre = pd.DataFrame(arr,columns=enc.columns_)
df_pre

      맥주     소주     와인     주스     콜라
0   True   True  False  False   True
1  False   True   True  False   True
2  False   True  False   True  False
3   True  False  False  False   True
4   True   True   True  False   True
5  False  False  False   True  False

In [13]:
arr

array([[ True,  True, False, False,  True],
       [False,  True,  True, False,  True],
       [False,  True, False,  True, False],
       [ True, False, False, False,  True],
       [ True,  True,  True, False,  True],
       [False, False, False,  True, False]])

In [7]:
# 최소 지지도
min_support = 0.5 # 2/4
# 지지도 계산
df_freq = apriori(df_pre,min_support=0.5,use_colnames=True)
df_freq.round(3)

   support  itemsets
0    0.500      (맥주)
1    0.667      (소주)
2    0.667      (콜라)
3    0.500  (콜라, 맥주)
4    0.500  (콜라, 소주)

In [11]:
#기준 = 신뢰도, 최소 신뢰도 = 0.5
df_asso_rule = association_rules(df_freq,metric="confidence",min_threshold= 0.5)
df_asso_rule.round(3)

  antecedents consequents     ...      leverage  conviction
0        (콜라)        (맥주)     ...         0.167    2.000000
1        (맥주)        (콜라)     ...         0.167         inf
2        (콜라)        (소주)     ...         0.056    1.333000
3        (소주)        (콜라)     ...         0.056    1.333000

[4 rows x 9 columns]

In [10]:
df_asso_rule

  antecedents consequents     ...      leverage  conviction
0        (콜라)        (맥주)     ...      0.166667    2.000000
1        (맥주)        (콜라)     ...      0.166667         inf
2        (콜라)        (소주)     ...      0.055556    1.333333
3        (소주)        (콜라)     ...      0.055556    1.333333

[4 rows x 9 columns]