In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [8]:
df_product = pd.read_csv("./data/상품구매.csv",engine = "python")
df_product

       ID      PRODUCT
0    C-11     BAGUETTE
1    C-11      HERRING
2    C-11      AVOCADO
3    C-11    ARTICHOKE
4    C-11     HEINEKEN
5    C-11       APPLES
6    C-11  CORNED BEEF
7    C-12      HERRING
8    C-12  CORNED BEEF
9    C-12       APPLES
10   C-12       OLIVES
11   C-12        STEAK
12   C-12     SARDINES
13   C-12     HEINEKEN
14   C-13     BAGUETTE
15   C-13     SARDINES
16   C-13       APPLES
17   C-13      PEPPERS
18   C-13      AVOCADO
19   C-13        STEAK
20   C-13    ICE CREAM
21   C-14      HERRING
22   C-14  CORNED BEEF
23   C-14       OLIVES
24   C-14          HAM
25   C-14       TURKEY
26   C-14         COKE
27   C-14       APPLES
28   C-15       OLIVES
29   C-15      BOURBON
..    ...          ...
110  C-26       APPLES
111  C-26     BAGUETTE
112  C-27       OLIVES
113  C-27      BOURBON
114  C-27         COKE
115  C-27       TURKEY
116  C-27    ICE CREAM
117  C-27         SODA
118  C-27      AVOCADO
119  C-28         SODA
120  C-28       OLIVES
121  C-28      BOURBON
122  C-28     CRACKERS
123  C-28     HEINEKEN
124  C-28    ARTICHOKE
125  C-28      PEPPERS
126  C-29       OLIVES
127  C-29      BOURBON
128  C-29         COKE
129  C-29       TURKEY
130  C-29    ICE CREAM
131  C-29     SARDINES
132  C-29         SODA
133  C-30       OLIVES
134  C-30      BOURBON
135  C-30         COKE
136  C-30       TURKEY
137  C-30    ICE CREAM
138  C-30         SODA
139  C-30          HAM

[140 rows x 2 columns]

In [15]:
df_p=pd.melt(df_product, id_vars='ID')

       ID variable        value
0    C-11  PRODUCT     BAGUETTE
1    C-11  PRODUCT      HERRING
2    C-11  PRODUCT      AVOCADO
3    C-11  PRODUCT    ARTICHOKE
4    C-11  PRODUCT     HEINEKEN
5    C-11  PRODUCT       APPLES
6    C-11  PRODUCT  CORNED BEEF
7    C-12  PRODUCT      HERRING
8    C-12  PRODUCT  CORNED BEEF
9    C-12  PRODUCT       APPLES
10   C-12  PRODUCT       OLIVES
11   C-12  PRODUCT        STEAK
12   C-12  PRODUCT     SARDINES
13   C-12  PRODUCT     HEINEKEN
14   C-13  PRODUCT     BAGUETTE
15   C-13  PRODUCT     SARDINES
16   C-13  PRODUCT       APPLES
17   C-13  PRODUCT      PEPPERS
18   C-13  PRODUCT      AVOCADO
19   C-13  PRODUCT        STEAK
20   C-13  PRODUCT    ICE CREAM
21   C-14  PRODUCT      HERRING
22   C-14  PRODUCT  CORNED BEEF
23   C-14  PRODUCT       OLIVES
24   C-14  PRODUCT          HAM
25   C-14  PRODUCT       TURKEY
26   C-14  PRODUCT         COKE
27   C-14  PRODUCT       APPLES
28   C-15  PRODUCT       OLIVES
29   C-15  PRODUCT      BOURBON
..    ...      ...          ...
110  C-26  PRODUCT       APPLES
111  C-26  PRODUCT     BAGUETTE
112  C-27  PRODUCT       OLIVES
113  C-27  PRODUCT      BOURBON
114  C-27  PRODUCT         COKE
115  C-27  PRODUCT       TURKEY
116  C-27  PRODUCT    ICE CREAM
117  C-27  PRODUCT         SODA
118  C-27  PRODUCT      AVOCADO
119  C-28  PRODUCT         SODA
120  C-28  PRODUCT       OLIVES
121  C-28  PRODUCT      BOURBON
122  C-28  PRODUCT     CRACKERS
123  C-28  PRODUCT     HEINEKEN
124  C-28  PRODUCT    ARTICHOKE
125  C-28  PRODUCT      PEPPERS
126  C-29  PRODUCT       OLIVES
127  C-29  PRODUCT      BOURBON
128  C-29  PRODUCT         COKE
129  C-29  PRODUCT       TURKEY
130  C-29  PRODUCT    ICE CREAM
131  C-29  PRODUCT     SARDINES
132  C-29  PRODUCT         SODA
133  C-30  PRODUCT       OLIVES
134  C-30  PRODUCT      BOURBON
135  C-30  PRODUCT         COKE
136  C-30  PRODUCT       TURKEY
137  C-30  PRODUCT    ICE CREAM
138  C-30  PRODUCT         SODA
139  C-30  PRODUCT          HAM

[140 rows x 3 columns]

In [12]:
df_product.columns

Index(['ID', 'PRODUCT'], dtype='object')

In [10]:
df_product.ID.value_counts()

C-28    7
C-30    7
C-14    7
C-13    7
C-23    7
C-27    7
C-11    7
C-29    7
C-22    7
C-20    7
C-15    7
C-19    7
C-24    7
C-16    7
C-12    7
C-21    7
C-25    7
C-17    7
C-18    7
C-26    7
Name: ID, dtype: int64

In [13]:
df_product.PRODUCT.value_counts()

OLIVES         13
HEINEKEN       12
BOURBON        11
COKE           10
ICE CREAM       9
APPLES          8
BAGUETTE        8
CORNED BEEF     8
TURKEY          8
HERRING         8
SODA            8
SARDINES        6
ARTICHOKE       6
CRACKERS        5
AVOCADO         5
STEAK           4
HAM             4
PEPPERS         4
CHICKEN         3
Name: PRODUCT, dtype: int64

In [28]:
df_product.groupby("ID").agg(lambda x : list(x))

                                                PRODUCT
ID
C-11  [BAGUETTE, HERRING, AVOCADO, ARTICHOKE, HEINEK...
C-12  [HERRING, CORNED BEEF, APPLES, OLIVES, STEAK, ...
C-13  [BAGUETTE, SARDINES, APPLES, PEPPERS, AVOCADO,...
C-14  [HERRING, CORNED BEEF, OLIVES, HAM, TURKEY, CO...
C-15  [OLIVES, BOURBON, COKE, TURKEY, ICE CREAM, ART...
C-16  [BAGUETTE, HERRING, AVOCADO, ARTICHOKE, HEINEK...
C-17  [SARDINES, HEINEKEN, CHICKEN, COKE, ICE CREAM,...
C-18  [SODA, OLIVES, BOURBON, CRACKERS, HEINEKEN, BA...
C-19  [SODA, OLIVES, BOURBON, CRACKERS, HEINEKEN, ST...
C-20  [HERRING, CORNED BEEF, OLIVES, HAM, TURKEY, AP...
C-21  [BAGUETTE, HERRING, AVOCADO, ARTICHOKE, HEINEK...
C-22  [SODA, OLIVES, BOURBON, CRACKERS, HEINEKEN, AR...
C-23  [SODA, OLIVES, BOURBON, CRACKERS, HEINEKEN, CO...
C-24  [SARDINES, HEINEKEN, CHICKEN, COKE, ICE CREAM,...
C-25  [SARDINES, HEINEKEN, CHICKEN, COKE, ICE CREAM,...
C-26  [OLIVES, BOURBON, COKE, TURKEY, ICE CREAM, APP...
C-27  [OLIVES, BOURBON, COKE, TURKEY, ICE CREAM, SOD...
C-28  [SODA, OLIVES, BOURBON, CRACKERS, HEINEKEN, AR...
C-29  [OLIVES, BOURBON, COKE, TURKEY, ICE CREAM, SAR...
C-30  [OLIVES, BOURBON, COKE, TURKEY, ICE CREAM, SOD...

In [29]:
# 시리지
df_product.groupby("ID").agg(lambda x:list(x)).PRODUCT

ID
C-11    [BAGUETTE, HERRING, AVOCADO, ARTICHOKE, HEINEK...
C-12    [HERRING, CORNED BEEF, APPLES, OLIVES, STEAK, ...
C-13    [BAGUETTE, SARDINES, APPLES, PEPPERS, AVOCADO,...
C-14    [HERRING, CORNED BEEF, OLIVES, HAM, TURKEY, CO...
C-15    [OLIVES, BOURBON, COKE, TURKEY, ICE CREAM, ART...
C-16    [BAGUETTE, HERRING, AVOCADO, ARTICHOKE, HEINEK...
C-17    [SARDINES, HEINEKEN, CHICKEN, COKE, ICE CREAM,...
C-18    [SODA, OLIVES, BOURBON, CRACKERS, HEINEKEN, BA...
C-19    [SODA, OLIVES, BOURBON, CRACKERS, HEINEKEN, ST...
C-20    [HERRING, CORNED BEEF, OLIVES, HAM, TURKEY, AP...
C-21    [BAGUETTE, HERRING, AVOCADO, ARTICHOKE, HEINEK...
C-22    [SODA, OLIVES, BOURBON, CRACKERS, HEINEKEN, AR...
C-23    [SODA, OLIVES, BOURBON, CRACKERS, HEINEKEN, CO...
C-24    [SARDINES, HEINEKEN, CHICKEN, COKE, ICE CREAM,...
C-25    [SARDINES, HEINEKEN, CHICKEN, COKE, ICE CREAM,...
C-26    [OLIVES, BOURBON, COKE, TURKEY, ICE CREAM, APP...
C-27    [OLIVES, BOURBON, COKE, TURKEY, ICE CREAM, SOD...
C-28    [SODA, OLIVES, BOURBON, CRACKERS, HEINEKEN, AR...
C-29    [OLIVES, BOURBON, COKE, TURKEY, ICE CREAM, SAR...
C-30    [OLIVES, BOURBON, COKE, TURKEY, ICE CREAM, SOD...
Name: PRODUCT, dtype: object

In [30]:
# 리스트로 변환
df_product.groupby("ID").agg(lambda x:list(x)).PRODUCT.tolist()

[['BAGUETTE',
  'HERRING',
  'AVOCADO',
  'ARTICHOKE',
  'HEINEKEN',
  'APPLES',
  'CORNED BEEF'],
 ['HERRING',
  'CORNED BEEF',
  'APPLES',
  'OLIVES',
  'STEAK',
  'SARDINES',
  'HEINEKEN'],
 ['BAGUETTE',
  'SARDINES',
  'APPLES',
  'PEPPERS',
  'AVOCADO',
  'STEAK',
  'ICE CREAM'],
 ['HERRING', 'CORNED BEEF', 'OLIVES', 'HAM', 'TURKEY', 'COKE', 'APPLES'],
 ['OLIVES', 'BOURBON', 'COKE', 'TURKEY', 'ICE CREAM', 'ARTICHOKE', 'HAM'],
 ['BAGUETTE', 'HERRING', 'AVOCADO', 'ARTICHOKE', 'HEINEKEN', 'COKE', 'TURKEY'],
 ['SARDINES',
  'HEINEKEN',
  'CHICKEN',
  'COKE',
  'ICE CREAM',
  'CORNED BEEF',
  'APPLES'],
 ['SODA', 'OLIVES', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'BAGUETTE', 'PEPPERS'],
 ['SODA', 'OLIVES', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'STEAK', 'HERRING'],
 ['HERRING', 'CORNED BEEF', 'OLIVES', 'HAM', 'TURKEY', 'APPLES', 'BAGUETTE'],
 ['BAGUETTE',
  'HERRING',
  'AVOCADO',
  'ARTICHOKE',
  'HEINEKEN',
  'BOURBON',
  'CORNED BEEF'],
 ['SODA', 'OLIVES', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'ARTICHOKE', 'STEAK'],
 ['SODA',
  'OLIVES',
  'BOURBON',
  'CRACKERS',
  'HEINEKEN',
  'CORNED BEEF',
  'HERRING'],
 ['SARDINES',
  'HEINEKEN',
  'CHICKEN',
  'COKE',
  'ICE CREAM',
  'APPLES',
  'BAGUETTE'],
 ['SARDINES',
  'HEINEKEN',
  'CHICKEN',
  'COKE',
  'ICE CREAM',
  'CORNED BEEF',
  'PEPPERS'],
 ['OLIVES', 'BOURBON', 'COKE', 'TURKEY', 'ICE CREAM', 'APPLES', 'BAGUETTE'],
 ['OLIVES', 'BOURBON', 'COKE', 'TURKEY', 'ICE CREAM', 'SODA', 'AVOCADO'],
 ['SODA', 'OLIVES', 'BOURBON', 'CRACKERS', 'HEINEKEN', 'ARTICHOKE', 'PEPPERS'],
 ['OLIVES', 'BOURBON', 'COKE', 'TURKEY', 'ICE CREAM', 'SARDINES', 'SODA'],
 ['OLIVES', 'BOURBON', 'COKE', 'TURKEY', 'ICE CREAM', 'SODA', 'HAM']]

In [16]:
# ID로 묶고, 리스트만든후(집계함수이용)-> PRODUCT만을 뽑아내면(시리즈)->tolist로 리스트로 다시변환  
df_p = df_product.groupby("ID").agg(lambda x:list(x)).PRODUCT.tolist()

In [19]:
# items 중 index 0번이 갖고 있으면 True, 아니면 False
enc = TransactionEncoder()
arr = enc.fit_transform(X=df_p)
# 위의 함수는 데이터를 행렬의 형태로 반환 -> pandas의 DataFrame의 형태로 변환
df_pre = pd.DataFrame(arr,columns=enc.columns_)
df_pre

,APPLES,ARTICHOKE,AVOCADO,BAGUETTE,BOURBON,CHICKEN,COKE,CORNED BEEF,CRACKERS,HAM,HEINEKEN,HERRING,ICE CREAM,OLIVES,PEPPERS,SARDINES,SODA,STEAK,TURKEY
0,True,True,True,True,False,False,False,True,False,False,True,True,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,True,False,False,True,True,False,True,False,True,False,True,False
2,True,False,True,True,False,False,False,False,False,False,False,False,True,False,True,True,False,True,False
3,True,False,False,False,False,False,True,True,False,True,False,True,False,True,False,False,False,False,True
4,False,True,False,False,True,False,True,False,False,True,False,False,True,True,False,False,False,False,True
5,False,True,True,True,False,False,True,False,False,False,True,True,False,False,False,False,False,False,True
6,True,False,False,False,False,True,True,True,False,False,True,False,True,False,False,True,False,False,False
7,False,False,False,True,True,False,False,False,True,False,True,False,False,True,True,False,True,False,False
8,False,False,False,False,True,False,False,False,True,False,True,True,False,True,False,False,True,True,False
9,True,False,False,True,False,False,False,True,False,True,False,True,False,True,False,False,False,False,True
10,False,True,True,True,True,False,False,True,False,False,True,True,False,False,False,False,False,False,False
11,False,True,False,False,True,False,False,False,True,False,True,False,False,True,False,False,True,True,False
12,False,False,False,False,True,False,False,True,True,False,True,True,False,True,False,False,True,False,False
13,True,False,False,True,False,True,True,False,False,False,True,False,True,False,False,True,False,False,False
14,False,False,False,False,False,True,True,True,False,False,True,False,True,False,True,True,False,False,False
15,True,False,False,True,True,False,True,False,False,False,False,False,True,True,False,False,False,False,True
16,False,False,True,False,True,False,True,False,False,False,False,False,True,True,False,False,True,False,True
17,False,True,False,False,True,False,False,False,True,False,True,False,False,True,True,False,True,False,False
18,False,False,False,False,True,False,True,False,False,False,False,False,True,True,False,True,True,False,True
19,False,False,False,False,True,False,True,False,False,True,False,False,True,True,False,False,True,False,True

In [25]:
# 최소 지지도
min_support = 0.3 # 2/4
# 지지도 계산
df_freq = apriori(df_pre,min_support=0.3,use_colnames=True)
df_freq

    support                 itemsets
0      0.40                 (APPLES)
1      0.30              (ARTICHOKE)
2      0.40               (BAGUETTE)
3      0.55                (BOURBON)
4      0.50                   (COKE)
5      0.40            (CORNED BEEF)
6      0.60               (HEINEKEN)
7      0.40                (HERRING)
8      0.45              (ICE CREAM)
9      0.65                 (OLIVES)
10     0.30               (SARDINES)
11     0.40                   (SODA)
12     0.40                 (TURKEY)
13     0.30      (BOURBON, HEINEKEN)
14     0.50        (BOURBON, OLIVES)
15     0.40          (BOURBON, SODA)
16     0.40        (COKE, ICE CREAM)
17     0.30           (COKE, OLIVES)
18     0.35           (COKE, TURKEY)
19     0.30  (CORNED BEEF, HEINEKEN)
20     0.30   (CORNED BEEF, HERRING)
21     0.30      (HERRING, HEINEKEN)
22     0.30       (OLIVES, HEINEKEN)
23     0.40           (OLIVES, SODA)
24     0.35         (OLIVES, TURKEY)
25     0.40  (BOURBON, OLIVES, SODA)
26     0.30   (COKE, OLIVES, TURKEY)

In [26]:
#기준 = 신뢰도, 최소 신뢰도 = 0.5
df_asso_rule = association_rules(df_freq,metric="confidence",min_threshold= 0.5)
df_asso_rule.round(3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(BOURBON),(HEINEKEN),0.55,0.60,0.30,0.545,0.909,-0.030,0.880000
1,(HEINEKEN),(BOURBON),0.60,0.55,0.30,0.500,0.909,-0.030,0.900000
2,(BOURBON),(OLIVES),0.55,0.65,0.50,0.909,1.399,0.142,3.850000
3,(OLIVES),(BOURBON),0.65,0.55,0.50,0.769,1.399,0.142,1.950000
4,(BOURBON),(SODA),0.55,0.40,0.40,0.727,1.818,0.180,2.200000
5,(SODA),(BOURBON),0.40,0.55,0.40,1.000,1.818,0.180,inf
6,(COKE),(ICE CREAM),0.50,0.45,0.40,0.800,1.778,0.175,2.750000
7,(ICE CREAM),(COKE),0.45,0.50,0.40,0.889,1.778,0.175,4.500000
8,(COKE),(OLIVES),0.50,0.65,0.30,0.600,0.923,-0.025,0.875000
9,(COKE),(TURKEY),0.50,0.40,0.35,0.700,1.750,0.150,2.000000
10,(TURKEY),(COKE),0.40,0.50,0.35,0.875,1.750,0.150,4.000000
11,(CORNED BEEF),(HEINEKEN),0.40,0.60,0.30,0.750,1.250,0.060,1.600000
12,(HEINEKEN),(CORNED BEEF),0.60,0.40,0.30,0.500,1.250,0.060,1.200000
13,(CORNED BEEF),(HERRING),0.40,0.40,0.30,0.750,1.875,0.140,2.400000
14,(HERRING),(CORNED BEEF),0.40,0.40,0.30,0.750,1.875,0.140,2.400000
15,(HERRING),(HEINEKEN),0.40,0.60,0.30,0.750,1.250,0.060,1.600000
16,(HEINEKEN),(HERRING),0.60,0.40,0.30,0.500,1.250,0.060,1.200000
17,(HEINEKEN),(OLIVES),0.60,0.65,0.30,0.500,0.769,-0.090,0.700000
18,(OLIVES),(SODA),0.65,0.40,0.40,0.615,1.538,0.140,1.560000
19,(SODA),(OLIVES),0.40,0.65,0.40,1.000,1.538,0.140,inf
20,(OLIVES),(TURKEY),0.65,0.40,0.35,0.538,1.346,0.090,1.300000
21,(TURKEY),(OLIVES),0.40,0.65,0.35,0.875,1.346,0.090,2.800000
22,"(BOURBON, OLIVES)",(SODA),0.50,0.40,0.40,0.800,2.000,0.200,3.000000
23,"(BOURBON, SODA)",(OLIVES),0.40,0.65,0.40,1.000,1.538,0.140,inf
24,"(OLIVES, SODA)",(BOURBON),0.40,0.55,0.40,1.000,1.818,0.180,inf
25,(BOURBON),"(OLIVES, SODA)",0.55,0.40,0.40,0.727,1.818,0.180,2.200000
26,(OLIVES),"(BOURBON, SODA)",0.65,0.40,0.40,0.615,1.538,0.140,1.560000
27,(SODA),"(BOURBON, OLIVES)",0.40,0.50,0.40,1.000,2.000,0.200,inf
28,"(COKE, OLIVES)",(TURKEY),0.30,0.40,0.30,1.000,2.500,0.180,inf
29,"(COKE, TURKEY)",(OLIVES),0.35,0.65,0.30,0.857,1.319,0.073,2.450000
30,"(OLIVES, TURKEY)",(COKE),0.35,0.50,0.30,0.857,1.714,0.125,3.500000
31,(COKE),"(OLIVES, TURKEY)",0.50,0.35,0.30,0.600,1.714,0.125,1.625000
32,(TURKEY),"(COKE, OLIVES)",0.40,0.30,0.30,0.750,2.500,0.180,2.800000

<h3> 한번에 데이터 전처리 하기 <h3>
    - pivot, isnull(), ~ 이용하기

In [72]:
df_product1 =df_product
df_product1

       ID      PRODUCT
0    C-11     BAGUETTE
1    C-11      HERRING
2    C-11      AVOCADO
3    C-11    ARTICHOKE
4    C-11     HEINEKEN
5    C-11       APPLES
6    C-11  CORNED BEEF
7    C-12      HERRING
8    C-12  CORNED BEEF
9    C-12       APPLES
10   C-12       OLIVES
11   C-12        STEAK
12   C-12     SARDINES
13   C-12     HEINEKEN
14   C-13     BAGUETTE
15   C-13     SARDINES
16   C-13       APPLES
17   C-13      PEPPERS
18   C-13      AVOCADO
19   C-13        STEAK
20   C-13    ICE CREAM
21   C-14      HERRING
22   C-14  CORNED BEEF
23   C-14       OLIVES
24   C-14          HAM
25   C-14       TURKEY
26   C-14         COKE
27   C-14       APPLES
28   C-15       OLIVES
29   C-15      BOURBON
..    ...          ...
110  C-26       APPLES
111  C-26     BAGUETTE
112  C-27       OLIVES
113  C-27      BOURBON
114  C-27         COKE
115  C-27       TURKEY
116  C-27    ICE CREAM
117  C-27         SODA
118  C-27      AVOCADO
119  C-28         SODA
120  C-28       OLIVES
121  C-28      BOURBON
122  C-28     CRACKERS
123  C-28     HEINEKEN
124  C-28    ARTICHOKE
125  C-28      PEPPERS
126  C-29       OLIVES
127  C-29      BOURBON
128  C-29         COKE
129  C-29       TURKEY
130  C-29    ICE CREAM
131  C-29     SARDINES
132  C-29         SODA
133  C-30       OLIVES
134  C-30      BOURBON
135  C-30         COKE
136  C-30       TURKEY
137  C-30    ICE CREAM
138  C-30         SODA
139  C-30          HAM

[140 rows x 2 columns]

In [73]:
# null 인건 true, 아닌건 false 이므로 이를 inverse시키면 가능합니다.
df_product1 = ~df_product1.pivot(index = "ID", columns= 'PRODUCT', values= 'PRODUCT').isnull()
df_product1

PRODUCT,APPLES,ARTICHOKE,AVOCADO,BAGUETTE,BOURBON,CHICKEN,COKE,CORNED BEEF,CRACKERS,HAM,HEINEKEN,HERRING,ICE CREAM,OLIVES,PEPPERS,SARDINES,SODA,STEAK,TURKEY
ID,,,,,,,,,,,,,,,,,,,
C-11,True,True,True,True,False,False,False,True,False,False,True,True,False,False,False,False,False,False,False
C-12,True,False,False,False,False,False,False,True,False,False,True,True,False,True,False,True,False,True,False
C-13,True,False,True,True,False,False,False,False,False,False,False,False,True,False,True,True,False,True,False
C-14,True,False,False,False,False,False,True,True,False,True,False,True,False,True,False,False,False,False,True
C-15,False,True,False,False,True,False,True,False,False,True,False,False,True,True,False,False,False,False,True
C-16,False,True,True,True,False,False,True,False,False,False,True,True,False,False,False,False,False,False,True
C-17,True,False,False,False,False,True,True,True,False,False,True,False,True,False,False,True,False,False,False
C-18,False,False,False,True,True,False,False,False,True,False,True,False,False,True,True,False,True,False,False
C-19,False,False,False,False,True,False,False,False,True,False,True,True,False,True,False,False,True,True,False
C-20,True,False,False,True,False,False,False,True,False,True,False,True,False,True,False,False,False,False,True
C-21,False,True,True,True,True,False,False,True,False,False,True,True,False,False,False,False,False,False,False
C-22,False,True,False,False,True,False,False,False,True,False,True,False,False,True,False,False,True,True,False
C-23,False,False,False,False,True,False,False,True,True,False,True,True,False,True,False,False,True,False,False
C-24,True,False,False,True,False,True,True,False,False,False,True,False,True,False,False,True,False,False,False
C-25,False,False,False,False,False,True,True,True,False,False,True,False,True,False,True,True,False,False,False
C-26,True,False,False,True,True,False,True,False,False,False,False,False,True,True,False,False,False,False,True
C-27,False,False,True,False,True,False,True,False,False,False,False,False,True,True,False,False,True,False,True
C-28,False,True,False,False,True,False,False,False,True,False,True,False,False,True,True,False,True,False,False
C-29,False,False,False,False,True,False,True,False,False,False,False,False,True,True,False,True,True,False,True
C-30,False,False,False,False,True,False,True,False,False,True,False,False,True,True,False,False,True,False,True

In [75]:
# 최소 지지도
min_support = 0.3 # 2/4
# 지지도 계산
df_freq = apriori(df_product1,min_support=0.3,use_colnames=True)
df_freq.round(3)

    support                 itemsets
0      0.40                 (APPLES)
1      0.30              (ARTICHOKE)
2      0.40               (BAGUETTE)
3      0.55                (BOURBON)
4      0.50                   (COKE)
5      0.40            (CORNED BEEF)
6      0.60               (HEINEKEN)
7      0.40                (HERRING)
8      0.45              (ICE CREAM)
9      0.65                 (OLIVES)
10     0.30               (SARDINES)
11     0.40                   (SODA)
12     0.40                 (TURKEY)
13     0.30      (BOURBON, HEINEKEN)
14     0.50        (BOURBON, OLIVES)
15     0.40          (BOURBON, SODA)
16     0.40        (COKE, ICE CREAM)
17     0.30           (COKE, OLIVES)
18     0.35           (COKE, TURKEY)
19     0.30  (CORNED BEEF, HEINEKEN)
20     0.30   (CORNED BEEF, HERRING)
21     0.30      (HERRING, HEINEKEN)
22     0.30       (OLIVES, HEINEKEN)
23     0.40           (OLIVES, SODA)
24     0.35         (OLIVES, TURKEY)
25     0.40  (BOURBON, OLIVES, SODA)
26     0.30   (COKE, OLIVES, TURKEY)

In [76]:
#기준 = 신뢰도, 최소 신뢰도 = 0.5
df_asso_rule = association_rules(df_freq,metric="confidence",min_threshold= 0.5)
df_asso_rule.round(3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(BOURBON),(HEINEKEN),0.55,0.60,0.30,0.545,0.909,-0.030,0.880000
1,(HEINEKEN),(BOURBON),0.60,0.55,0.30,0.500,0.909,-0.030,0.900000
2,(BOURBON),(OLIVES),0.55,0.65,0.50,0.909,1.399,0.142,3.850000
3,(OLIVES),(BOURBON),0.65,0.55,0.50,0.769,1.399,0.142,1.950000
4,(BOURBON),(SODA),0.55,0.40,0.40,0.727,1.818,0.180,2.200000
5,(SODA),(BOURBON),0.40,0.55,0.40,1.000,1.818,0.180,inf
6,(COKE),(ICE CREAM),0.50,0.45,0.40,0.800,1.778,0.175,2.750000
7,(ICE CREAM),(COKE),0.45,0.50,0.40,0.889,1.778,0.175,4.500000
8,(COKE),(OLIVES),0.50,0.65,0.30,0.600,0.923,-0.025,0.875000
9,(COKE),(TURKEY),0.50,0.40,0.35,0.700,1.750,0.150,2.000000
10,(TURKEY),(COKE),0.40,0.50,0.35,0.875,1.750,0.150,4.000000
11,(CORNED BEEF),(HEINEKEN),0.40,0.60,0.30,0.750,1.250,0.060,1.600000
12,(HEINEKEN),(CORNED BEEF),0.60,0.40,0.30,0.500,1.250,0.060,1.200000
13,(CORNED BEEF),(HERRING),0.40,0.40,0.30,0.750,1.875,0.140,2.400000
14,(HERRING),(CORNED BEEF),0.40,0.40,0.30,0.750,1.875,0.140,2.400000
15,(HERRING),(HEINEKEN),0.40,0.60,0.30,0.750,1.250,0.060,1.600000
16,(HEINEKEN),(HERRING),0.60,0.40,0.30,0.500,1.250,0.060,1.200000
17,(HEINEKEN),(OLIVES),0.60,0.65,0.30,0.500,0.769,-0.090,0.700000
18,(OLIVES),(SODA),0.65,0.40,0.40,0.615,1.538,0.140,1.560000
19,(SODA),(OLIVES),0.40,0.65,0.40,1.000,1.538,0.140,inf
20,(OLIVES),(TURKEY),0.65,0.40,0.35,0.538,1.346,0.090,1.300000
21,(TURKEY),(OLIVES),0.40,0.65,0.35,0.875,1.346,0.090,2.800000
22,"(BOURBON, OLIVES)",(SODA),0.50,0.40,0.40,0.800,2.000,0.200,3.000000
23,"(BOURBON, SODA)",(OLIVES),0.40,0.65,0.40,1.000,1.538,0.140,inf
24,"(OLIVES, SODA)",(BOURBON),0.40,0.55,0.40,1.000,1.818,0.180,inf
25,(BOURBON),"(OLIVES, SODA)",0.55,0.40,0.40,0.727,1.818,0.180,2.200000
26,(OLIVES),"(BOURBON, SODA)",0.65,0.40,0.40,0.615,1.538,0.140,1.560000
27,(SODA),"(BOURBON, OLIVES)",0.40,0.50,0.40,1.000,2.000,0.200,inf
28,"(COKE, OLIVES)",(TURKEY),0.30,0.40,0.30,1.000,2.500,0.180,inf
29,"(COKE, TURKEY)",(OLIVES),0.35,0.65,0.30,0.857,1.319,0.073,2.450000
30,"(OLIVES, TURKEY)",(COKE),0.35,0.50,0.30,0.857,1.714,0.125,3.500000
31,(COKE),"(OLIVES, TURKEY)",0.50,0.35,0.30,0.600,1.714,0.125,1.625000
32,(TURKEY),"(COKE, OLIVES)",0.40,0.30,0.30,0.750,2.500,0.180,2.800000

In [77]:
df_asso_rule

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(BOURBON),(HEINEKEN),0.55,0.60,0.30,0.545455,0.909091,-0.0300,0.880000
1,(HEINEKEN),(BOURBON),0.60,0.55,0.30,0.500000,0.909091,-0.0300,0.900000
2,(BOURBON),(OLIVES),0.55,0.65,0.50,0.909091,1.398601,0.1425,3.850000
3,(OLIVES),(BOURBON),0.65,0.55,0.50,0.769231,1.398601,0.1425,1.950000
4,(BOURBON),(SODA),0.55,0.40,0.40,0.727273,1.818182,0.1800,2.200000
5,(SODA),(BOURBON),0.40,0.55,0.40,1.000000,1.818182,0.1800,inf
6,(COKE),(ICE CREAM),0.50,0.45,0.40,0.800000,1.777778,0.1750,2.750000
7,(ICE CREAM),(COKE),0.45,0.50,0.40,0.888889,1.777778,0.1750,4.500000
8,(COKE),(OLIVES),0.50,0.65,0.30,0.600000,0.923077,-0.0250,0.875000
9,(COKE),(TURKEY),0.50,0.40,0.35,0.700000,1.750000,0.1500,2.000000
10,(TURKEY),(COKE),0.40,0.50,0.35,0.875000,1.750000,0.1500,4.000000
11,(CORNED BEEF),(HEINEKEN),0.40,0.60,0.30,0.750000,1.250000,0.0600,1.600000
12,(HEINEKEN),(CORNED BEEF),0.60,0.40,0.30,0.500000,1.250000,0.0600,1.200000
13,(CORNED BEEF),(HERRING),0.40,0.40,0.30,0.750000,1.875000,0.1400,2.400000
14,(HERRING),(CORNED BEEF),0.40,0.40,0.30,0.750000,1.875000,0.1400,2.400000
15,(HERRING),(HEINEKEN),0.40,0.60,0.30,0.750000,1.250000,0.0600,1.600000
16,(HEINEKEN),(HERRING),0.60,0.40,0.30,0.500000,1.250000,0.0600,1.200000
17,(HEINEKEN),(OLIVES),0.60,0.65,0.30,0.500000,0.769231,-0.0900,0.700000
18,(OLIVES),(SODA),0.65,0.40,0.40,0.615385,1.538462,0.1400,1.560000
19,(SODA),(OLIVES),0.40,0.65,0.40,1.000000,1.538462,0.1400,inf
20,(OLIVES),(TURKEY),0.65,0.40,0.35,0.538462,1.346154,0.0900,1.300000
21,(TURKEY),(OLIVES),0.40,0.65,0.35,0.875000,1.346154,0.0900,2.800000
22,"(BOURBON, OLIVES)",(SODA),0.50,0.40,0.40,0.800000,2.000000,0.2000,3.000000
23,"(BOURBON, SODA)",(OLIVES),0.40,0.65,0.40,1.000000,1.538462,0.1400,inf
24,"(OLIVES, SODA)",(BOURBON),0.40,0.55,0.40,1.000000,1.818182,0.1800,inf
25,(BOURBON),"(OLIVES, SODA)",0.55,0.40,0.40,0.727273,1.818182,0.1800,2.200000
26,(OLIVES),"(BOURBON, SODA)",0.65,0.40,0.40,0.615385,1.538462,0.1400,1.560000
27,(SODA),"(BOURBON, OLIVES)",0.40,0.50,0.40,1.000000,2.000000,0.2000,inf
28,"(COKE, OLIVES)",(TURKEY),0.30,0.40,0.30,1.000000,2.500000,0.1800,inf
29,"(COKE, TURKEY)",(OLIVES),0.35,0.65,0.30,0.857143,1.318681,0.0725,2.450000
30,"(OLIVES, TURKEY)",(COKE),0.35,0.50,0.30,0.857143,1.714286,0.1250,3.500000
31,(COKE),"(OLIVES, TURKEY)",0.50,0.35,0.30,0.600000,1.714286,0.1250,1.625000
32,(TURKEY),"(COKE, OLIVES)",0.40,0.30,0.30,0.750000,2.500000,0.1800,2.800000